[Unit]
Description=Go Shop API
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/go-shop/backend
ExecStart=/var/www/go-shop/backend/server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
